/* ---- FUENTES ---- */
@font-face {
    font-family: 'Calistoga';
    src: url('/fonts/CalistogaRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'GlacialReg';
    src: url('/fonts/GlacialIndifference-Regular.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'GlacialBold';
    src: url('/fonts/GlacialIndifference-Bold.otf') format('truetype');
    font-style: normal;
    font-weight: bold;
}


* {
    box-sizing: border-box;
}


/* ---- CLASES ---- */
.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}



/* --- ETIQUETAS ---*/

/* ----FUENTES---- */
h1 {
    color: var(--marcaazuloscuro, #4E609C);
    text-align: center;
    font-family: Calistoga, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

h2 {
    color: var(--marcaazulmuyoscuro, #3F4557);
    text-align: center;
    font-family: GlacialBold, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
}

h3 {
    color: var(--baseblanco, #FFF);
    font-family: GlacialBold, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
    text-align: center;
}


h4 {
    width: 110.053px;
    height: 42.312px;
    flex-shrink: 0;
    color: var(--marcaazuloscuro, #4E609C);
    text-align: center;
    font-family: Glacial Indifference;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:0%
}

p {
    color: var(--marcaazuloscuro, #4E609C);
    text-align: center;
    font-family: GlacialReg, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px;
    margin-top: 0px;
}


/* ---- HEADER ---- */
header {
    display: flex;
    justify-content: center;
    gap: 22%;
    width: 99%;
    height: 143px;
    background: var(--GRADIENTE, linear-gradient(90deg, #495B8C 0%, #718CD9 100%));
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
    padding-right: 5%;
    padding-left: 5%;
}


/* ---- MAIN ---- */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 8px;
    display: flex;
    width: 148px;
    height: 24px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--contrasteamarillofuerte, #F0AC1F);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.250);
}

button a {
    color: var(--marcaazuloscuro, #4E609C);
    font-family: GlacialBold, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

div>button:hover {
    background: var(--contrasteamarillomedio, #F7DF97);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.50);
}


/* ---- NAV ---- */
nav {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

nav>button {
    display: flex;
    width: auto;
    justify-content: center;
    margin-right: 16px;
    padding: 16px;
    border-radius: 8px;
    border: 2px solid var(--GRADIENTE, #495B8C);
    background: var(--marcaazulclaro, #BBC9F0);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.50);
}

nav>button>a:hover {
    color: var(--contrasteamarillofuerte, #F0AC1F);
}

nav>button>a:active {
    color: white;
}

nav>button:active {
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.30) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

nav a {
    text-decoration: none;
    list-style: none;
}


/* ---- FOOTER ---- */
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--GRADIENTE, linear-gradient(90deg, #495B8C 0%, #718CD9 100%));
}

footer a {
    color: var(--feedbackinformation, #9BCBE7);
    font-family: GlacialReg, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer p {
    color: white;
    text-align: center;
    font-family: GlacialReg, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer>section {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-bottom: 16px;
}



/* ---- ID ---- */

#paginaActual {
    border-radius: 8px;
    border: 2px solid var(--GRADIENTE, #495B8C);
    background: var(--marcaazulclaro, #BBC9F0);

    /* SOMBRAS/BOTON CON CLICK */
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.30) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#paginaActual a {
    color: #FFF
}


/* ---- IMAGENES ---- */
#logo {
    display: flex;
    align-items: flex-start;
    border-radius: 300px;
    box-shadow: 6px 6px 10px 0px rgba(255, 255, 255, 0.25) inset, 6px 6px 10px 0px rgba(0, 0, 0, 0.25);
    width: 115px;
    height: 120px;
    margin-top: 8px;
}


/*---- CARRUSEL ---- */
.imagenPrincipal {}

.imagenPrincipal {
    display: flex;
    overflow-y: auto;
}

/*---- TARJETAS COLABORADORES ---- */
.contenColaboradores {
    width: 1130px;
    height: 286px;
}

.colaboradores {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

}

.tarjeta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 48px;
    background: var(--baseazulclarito, rgba(187, 201, 240, 0.30));
    box-shadow: 16px 14px 16px 4px rgba(0, 0, 0, 0.25),
        8px 6px 10px 0px rgba(0, 0, 0, 0.35),
        8px 8px 16px 4px rgba(255, 255, 255, 0.25) inset;
}

.colab {
    display: flex;
    flex-direction: column;
    width: 99px;
    height: 62px;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 9px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 1px 8px 0px #495B8C;

}





/* ---- MEDIA QUERYS ---- */

/* TABLET */
@media screen and (max-width:992px) {
    header {
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
        height: auto;
    }

    footer>section {
        margin-left: 8%;
        margin-right: 8%;
        gap: 3%;
    }

    nav {
        width: 100%;
        display: flex;
        margin-top: 1%;
        margin-bottom: 2%;
    }

    nav>button {
        width: 17%;
        margin-right: 1%;
    }

    nav>button>a {
        font-size: 14px;
    }

    #logo {
        width: 100px;
        height: 100px;
    }

    #ofrecemos {
        padding: 0px 56px 0px 56px;
    }

    #plataforma {
        margin-left: 3%;
        margin-right: 3%;
    }

    #imgplataforma {
        height: 430px;
        width: 95%;
    }

    #clinica {
        height: 430px;
        width: 95%;
    }
}


/* MOBILE */
@media screen and (max-width:575px) {
    footer>section {
        margin-left: 5%;
        margin-right: 5%;
        gap: 15px;
    }

    h1 {
        margin-top: 0%;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
    }

    nav>button {
        width: 30%;
    }

    #imgplataforma {
        height: 210px;
        width: 95%;
    }

    #clinica {
        height: 250px;
        width: 95%;
        margin-bottom: 10%;
    }

    #plataforma>p {
        margin-left: 6%;
        margin-right: 6%;
    }

}