/* ---- FUENTES ---- */
@font-face {
    font-family: 'Calistoga';
    src: url('/fonts/CalistogaRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'GlacialReg';
    src: url('/fonts/GlacialIndifference-Regular.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'GlacialBold';
    src: url('/fonts/GlacialIndifference-Bold.otf') format('truetype');
    font-style: normal;
    font-weight: bold;
}


* {
    box-sizing: border-box;
}


/* ---- CLASES ---- */
.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}



/* --- ETIQUETAS ---*/

/* ----FUENTES---- */
h1 {
    color: var(--marcaazuloscuro, #4E609C);
    text-align: center;
    font-family: Calistoga, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

h2 {
    color: var(--marcaazulmuyoscuro, #3F4557);
    text-align: center;
    font-family: GlacialBold, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
}

h3 {
    color: var(--baseblanco, #FFF);
    font-family: GlacialBold, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
    text-align: center;
}


h4 {
    width: 110.053px;
    height: 42.312px;
    flex-shrink: 0;
    color: var(--marcaazuloscuro, #4E609C);
    text-align: center;
    font-family: Glacial Indifference;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:0%;
}

p {
    color: var(--marcaazuloscuro, #4E609C);
    text-align: center;
    font-family: GlacialReg, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px;
    margin-top: 0px;
}


/* ---- HEADER ---- */
header {
    display: flex;
    justify-content: center;
    gap: 22%;
    width: 100%;
    height: 143px;
    background: var(--GRADIENTE, linear-gradient(90deg, #495B8C 0%, #718CD9 100%));
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
    padding-right: 5%;
    padding-left: 5%;
}


/* ---- MAIN ---- */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 8px;
    display: flex;
    width: 148px;
    height: 24px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--contrasteamarillofuerte, #F0AC1F);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.250);
}

button a {
    color: var(--marcaazuloscuro, #4E609C);
    font-family: GlacialBold, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

div>button:hover {
    background: var(--contrasteamarillomedio, #F7DF97);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.50);
}


/* ---- NAV ---- */
nav {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

nav>button {
    display: flex;
    width: auto;
    justify-content: center;
    margin-right: 16px;
    padding: 16px;
    border-radius: 8px;
    border: 2px solid var(--GRADIENTE, #495B8C);
    background: var(--marcaazulclaro, #BBC9F0);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.50);
}

nav>button>a:hover {
    color: var(--contrasteamarillofuerte, #F0AC1F);
}

nav>button>a:active {
    color: white;
}

nav>button:active {
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.30) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

nav a {
    text-decoration: none;
    list-style: none;
    color: var(--marcaazulmuyoscuro, #3F4557); 
}


/* ---- FOOTER ---- */
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--GRADIENTE, linear-gradient(90deg, #495B8C 0%, #718CD9 100%));
}

footer a {
    color: var(--feedbackinformation, #9BCBE7);
    font-family: GlacialReg, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer p {
    color: white;
    text-align: center;
    font-family: GlacialReg, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer>section {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-bottom: 16px;
}



/* ---- ID ---- */
#acceder{
    border-radius: 32px;
background: var(--contrasteamarillofuerte, #F0AC1F);
box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.50);
color: var(--marcaazulmuyoscuro, #3F4557); 
}

#acceder:hover {
    border-radius: 32px;
    background: var(--contrasteamarillomedio, #F7DF97);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.50);
}


#paginaActual {
    border-radius: 8px;
    border: 2px solid var(--GRADIENTE, #495B8C);
    background: var(--marcaazulclaro, #BBC9F0);

    /* SOMBRAS/BOTON CON CLICK */
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.30) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#paginaActual a {
    color: #FFF
}

/* ---- IMAGENES ---- */
#logo {
    display: flex;
    align-items: flex-start;
    border-radius: 300px;
    box-shadow: 6px 6px 10px 0px rgba(255, 255, 255, 0.25) inset, 6px 6px 10px 0px rgba(0, 0, 0, 0.25);
    width: 115px;
    height: 120px;
    margin-top: 8px;
}

/*---- IMAGEN PORTADA ---- */

.imagenPrincipal {
    margin-top: 56px;
    margin-bottom: 56px;
    width: 100%;
    margin-left: 824px;
}

/*---- TARJETAS COLABORADORES ---- */
.contenColaboradores {
    margin-top: 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.tarjeta {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    background: var(--baseazulclarito, rgba(187, 201, 240, 0.30));
    box-shadow: 16px 14px 16px 4px rgba(0, 0, 0, 0.25),
        8px 6px 10px 0px rgba(0, 0, 0, 0.35),
        8px 8px 16px 4px rgba(255, 255, 255, 0.25) inset;
        object-fit: contain;
        aspect-ratio: 2/2;
        mix-blend-mode: color;
}

.colab {
    width: 80%;
    height: 35%;
    margin-left: 1%;
    margin-top: 5%;
    border-radius: 9px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 1px 8px 0px #495B8C;
}
.tarjeta p{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10px;
   
}
.conteneCont{
   display: flex;
   justify-content: center;
   align-items: center;
}
.preg{
    width: 83%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 10px;
    background: var(--baseazulclarito, rgba(187, 201, 240, 0.30));
    margin:56px;
}
.preg h1{
    grid-column-end: span 2;
}
.iconPreg{
    align-items: left;
    position: absolute;
    margin-left:68px;
    width: 29px;
    height: 28px;
}
.preg p{
    text-align: left;
    margin-left: 120px;
    margin-right: 120px;

}
.conteneCont{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border:3px solid black;
    padding: 20px;
    text-align: center;
    background: var(--baseazulclarito, rgba(187, 201, 240, 0.30));
    margin-bottom: 120px;

}
.Mapa0{
    width: 60%;
}
.Mapa1{
    width: 40%;
    align-self:flex-start;
    flex-grow: 2;
    margin-left: 100px;
    padding-right: 100px;  
}
.Mapa2{
    width: 52%;
    flex-grow: 1;
}
.Mapa2 p{
   
    display: flex;
    text-align: left;
    padding-left: 200px;
    color: var(--marcaazuloscuro, #4E609C);
    font-family: Glacial Indifference;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.iconoCont{
    width: 29px;
    height: 28px;
    margin-right: 40px; 
}
.conteneCont h1{
    flex-grow: 3;
}
.imgmapa{
    width: 80%;
    margin: 30px;
}

/* ---- MEDIA QUERYS ---- */

/* TABLET */
@media screen and (max-width:992px) {
    header {
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
        height: auto;
    }

    footer>section {
        margin-left: 8%;
        margin-right: 8%;
        gap: 3%;
    }

    nav {
        width: 100%;
        display: flex;
        margin-top: 1%;
        margin-bottom: 2%;
    }

    nav>button {
        width: 17%;
        margin-right: 1%;
    }

    nav>button>a {
        font-size: 14px;
    }

    #logo {
        width: 100px;
        height: 100px;
    }


}


/* MOBILE */
@media screen and (max-width:575px) {

    /* ---- HEADER ---- */
    h1 {
        margin-top: 0%;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
    }

    nav>button {
        width: 30%;
    }

    /* ---- FOOTER ---- */
    footer>section {
        margin-left: 5%;
        margin-right: 5%;
        gap: 5%;
    }

    footer>section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        flex-wrap: wrap;
    }

    footer p {
        text-align: start;
    }

    #copy {
        text-align: center;
    }

    .footIzquierda p,
    h3 {
        text-align: left;
        font-size: 15px;
    }

    .footDerecha p {
        text-align: right;
    }

    .enlacefooter {
        font-size: 13px;
    }


    #footDerechaH3 {
        text-align: right;
    }


}