/* ---- FUENTES ---- */
@font-face {
    font-family: 'BostonAngel';
    src: url('/fonts/BostonAngelRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
@font-face {
    font-family: 'GlacialReg';
    src: url('/fonts/GlacialIndifference-Regular.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'GlacialBold';
    src: url('/fonts/GlacialIndifference-Bold.otf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

*{
    color: linear-gradient(90deg, #495B8C 0%, #718CD9 100%);
}