/* ---- FUENTES ---- */
@font-face {
    font-family: 'Calistoga';
    src: url('/fonts/CalistogaRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'GlacialReg';
    src: url('/fonts/GlacialIndifference-Regular.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'GlacialBold';
    src: url('/fonts/GlacialIndifference-Bold.otf') format('truetype');
    font-style: normal;
    font-weight: bold;
}


* {
    box-sizing: border-box;
}


/* ---- CLASES ---- */

.container {
    display: grid;
    gap: 40px;
    grid-template:
        "header" 143px "main" auto "footer" 143px
}

.header {
    grid-area: header;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    grid-area: main;
}

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tarjeta {
    width: 440px;
    height: 483px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    background: var(--baseazulclarito, rgba(187, 201, 240, 0.30));
    /* SOMBRAS/TARJETAS */
    box-shadow: 16px 14px 16px 4px rgba(0, 0, 0, 0.25), 8px 6px 10px 0px rgba(0, 0, 0, 0.35), 8px 8px 16px 4px rgba(255, 255, 255, 0.25) inset;
}

.gifTarjeta {
    width: 270px;
    height: 151px;
    flex-shrink: 0;
    margin-top: 10%;
}

.textTarjeta {
    width: 361px;
    height: 138px;
}

/* --- ETIQUETAS ---*/
#cabecera {
    width: 1353.5px;
    height: 600px;
    box-shadow: 6px 6px 10px 0px rgba(255, 255, 255, 0.25) inset, 6px 6px 10px 0px rgba(0, 0, 0, 0.25);

}

#textoIntro {
    width: 900px;
    height: 237px;
}

#tarjetas {
    display: flex;
    width: 1360px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 64px 20px;
    flex-wrap: wrap;
}

#paginaActual {
    border-radius: 8px;
    border: 2px solid var(--GRADIENTE, #495B8C);
    background: var(--marcaazulclaro, #BBC9F0);

    /* SOMBRAS/BOTON CON CLICK */
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.30) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#paginaActual a{
    color: #FFF
}

/* ----FUENTES---- */
h1 {
    color: var(--marcaazuloscuro, #4E609C);
    text-align: center;
    font-family: Calistoga, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

h2 {
    color: var(--marcaazulmuyoscuro, #3F4557);
    text-align: center;
    font-family: GlacialBold, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
}

h3 {
    color: var(--baseblanco, #FFF);
    font-family: GlacialBold, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
    text-align: center;
}

p {
    color: var(--marcaazuloscuro, #4E609C);
    text-align: center;
    font-family: GlacialReg, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px;
    margin-top: 0px;
}


/* ---- HEADER ---- */
header {
    background: var(--GRADIENTE, linear-gradient(90deg, #495B8C 0%, #718CD9 100%));
    position: absolute;
    width: 99%;
    height: 143px;
    gap: 22%;
    padding-right: 5%;
    padding-left: 5%;
}


/* ---- MAIN ---- */
button {
    margin-top: 8px;
    display: flex;
    width: 148px;
    height: 24px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--contrasteamarillofuerte, #F0AC1F);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.250);
}

button a {
    color: var(--marcaazuloscuro, #4E609C);
    font-family: GlacialBold, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}


/* ---- NAV ---- */
nav {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

nav>button {
    display: flex;
    width: auto;
    justify-content: center;
    margin-right: 16px;
    padding: 16px;
    border-radius: 8px;
    border: 2px solid var(--GRADIENTE, #495B8C);
    background: var(--marcaazulclaro, #BBC9F0);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.50);
}

nav>button>a:hover {
    color: var(--contrasteamarillofuerte, #F0AC1F);
}

nav>button>a:active {
    color: white;
}

nav>button:active {
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.30) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

nav a {
    text-decoration: none;
    list-style: none;
}

article>button:hover {
    background: var(--contrasteamarillomedio, #F7DF97);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.50);
}


/* ---- FOOTER ---- */
footer {
    background: var(--GRADIENTE, linear-gradient(90deg, #495B8C 0%, #718CD9 100%));
}

footer a {
    color: var(--feedbackinformation, #9BCBE7);
    font-family: GlacialReg, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer p {
    color: white;
    text-align: center;
    font-family: GlacialReg, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer>section {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-bottom: 16px;
}


/* ---- ID ---- */



/* ---- IMAGENES ---- */
#logo {
    display: flex;
    align-items: flex-start;
    border-radius: 300px;
    box-shadow: 6px 6px 10px 0px rgba(255, 255, 255, 0.25) inset, 6px 6px 10px 0px rgba(0, 0, 0, 0.25);
    width: 115px;
    height: 120px;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 50px;
}