/* ---- FUENTES ---- */
@font-face {
    font-family: 'Calistoga';
    src: url('/fonts/CalistogaRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'GlacialReg';
    src: url('/fonts/GlacialIndifference-Regular.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'GlacialBold';
    src: url('/fonts/GlacialIndifference-Bold.otf') format('truetype');
    font-style: normal;
    font-weight: bold;
}


* {
    box-sizing: border-box;
}


/* ---- CLASES ---- */
.container {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
     
}
.tarjetas {
    width: 328px; 
    height: 468px; 
    background: rgba(187, 201, 240, 0.30);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px; 
}



.trastornosblond{
   font-weight: bold;
}

.prevencion h2{
color: var(--marcaazuloscuro, #4E609C);
font-family: Calistoga, 'Times New Roman', Times, serif;   
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.prevencion p{
    color: var(--marcaazuloscuro, #4E609C);
    font-family: Glacial Indifference;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.noticias{
    color: var(--baseblanco);
    width: 50%;
    height: 30%;
    display: flex;
    align-items: flex-start;
    gap: 56px;
    margin-bottom: 5%;
    border-style: dashed;
    
}
.bloqueTarjetas{
display: flex;
align-items: center;
justify-content: center;
gap: 24px;
width: 80%;
}
.new{
width: 9.5rem;
height: 11.1875rem;
flex-shrink: 0;
border-radius: 8px;
background-color: var(--baseazulclarito, #BBC9F04D);

/* SOMBRAS/TARJETAS */
box-shadow: 16px 14px 16px 4px rgba(0, 0, 0, 0.25), 8px 6px 10px 0px rgba(0, 0, 0, 0.35), 8px 8px 16px 4px rgba(255, 255, 255, 0.25) inset;
}

.apoyo{
width: 246px;
height: 45px;
flex-shrink: 0;
border: 1px solid var(--GRADIENTE, #495B8C);
/* SOMBRAS/CAJA DE TEXTO */
box-shadow: 1px 1px 1px 0px #495B8C;
}


/* --- ETIQUETAS ---*/
#botonNoticia{
display: flex;
width: 325px;
height: 35px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 32px;
background: var(--contrasteamarillofuerte, #F0AC1F);


/* SOMBRAS/BOTON SIN CLICK */
box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.50);

color: var(--marcaazulmuyoscuro, #3F4557);
font-family: Glacial Indifference;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#contenidoNoticia{
    background-color: var(--baseazulclarito,rgba(187, 201, 240, 0.30));
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
}
#bloqueNoticia{
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
gap: 40px;
background-color: var(--baseblanco,#F9F9F9);
width: 80%;
height: 70%;
padding-bottom: 10px;
margin: 10%;

}
#bloqueNoticia h2{
color: var(--marcaazuloscuro, #4E609C);
font-family: Calistoga, 'Times New Roman', Times, serif;   
text-align: center;
 font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}




#familiares{
display: flex;
width: 20%;
height: 100%;
flex-direction: column;
align-items: center;
background-color: var(--baseazulclarito, rgba(187, 201, 240, 0.30));
gap: 30px;


}

#familiares h2{
margin-top: 50px;
color: var(--marcaazuloscuro, #4E609C);
text-align: center;
font-family: Glacial Indifference;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

#informate{
border-radius: 8px;
background: var(--contrasteamarillofuerte, #F0AC1F);
/* SOMBRAS/BOTON SIN CLICK */
box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.50);
width: 145px;
height: 35px;
padding: 8px;
}

/* ----FUENTES---- */
h1 {
    color: var(--marcaazuloscuro, #4E609C);
    text-align: center;
    font-family: Calistoga, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

h2 {
    color: var(--marcaazulmuyoscuro, #3F4557);
    text-align: center;
    font-family: GlacialBold, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
}

h3 {
    color: var(--baseblanco, #FFF);
    font-family: GlacialBold, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
    text-align: center;
}

p {
    color: var(--marcaazuloscuro, #4E609C);
    text-align: center;
    font-family: GlacialReg, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px;
    margin-top: 0px;
}

p.trastornos{
    text-align: left;
}

ul{
    
    color: var(--marcaazuloscuro, #4E609C);
    font-family: Glacial Indifference;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   

}



/* ---- HEADER ---- */
header {
    display: flex;
    justify-content: center;
    gap: 22%;
    width: 100%;
    height: 143px;
    background: var(--GRADIENTE, linear-gradient(90deg, #495B8C 0%, #718CD9 100%));
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
    padding-right: 5%;
    padding-left: 5%;
}


/* ---- MAIN ---- */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 8px;
    display: flex;
    width: 148px;
    height: 24px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--contrasteamarillofuerte, #F0AC1F);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.250);
}

button a {
    color: var(--marcaazuloscuro, #4E609C);
    font-family: GlacialBold, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

div>button:hover {
    background: var(--contrasteamarillomedio, #F7DF97);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.50);
}


/* ---- NAV ---- */
nav {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

nav>button {
    display: flex;
    width: auto;
    justify-content: center;
    margin-right: 16px;
    padding: 16px;
    border-radius: 8px;
    border: 2px solid var(--GRADIENTE, #495B8C);
    background: var(--marcaazulclaro, #BBC9F0);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.50);
}

nav>button>a:hover {
    color: var(--contrasteamarillofuerte, #F0AC1F);
}

nav>button>a:active {
    color: white;
}

nav>button:active {
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.30) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

nav a {
    text-decoration: none;
    list-style: none;
    color: var(--marcaazulmuyoscuro, #3F4557); 
}


/* ---- FOOTER ---- */
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--GRADIENTE, linear-gradient(90deg, #495B8C 0%, #718CD9 100%));
}

footer a {
    color: var(--feedbackinformation, #9BCBE7);
    font-family: GlacialReg, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer p {
    color: white;
    text-align: center;
    font-family: GlacialReg, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer>section {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-bottom: 16px;
}



/* ---- ID ---- */
#acceder{
    border-radius: 32px;
background: var(--contrasteamarillofuerte, #F0AC1F);
box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.50);
color: var(--marcaazulmuyoscuro, #3F4557); 
}

#acceder:hover {
    border-radius: 32px;
    background: var(--contrasteamarillomedio, #F7DF97);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.50);
}

#paginaActual {
    border-radius: 8px;
    border: 2px solid var(--GRADIENTE, #495B8C);
    background: var(--marcaazulclaro, #BBC9F0);

    /* SOMBRAS/BOTON CON CLICK */
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.30) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#paginaActual a {
    color: #FFF
}


/* ---- IMAGENES ---- */
#logo {
    display: flex;
    align-items: flex-start;
    border-radius: 300px;
    box-shadow: 6px 6px 10px 0px rgba(255, 255, 255, 0.25) inset, 6px 6px 10px 0px rgba(0, 0, 0, 0.25);
    width: 115px;
    height: 120px;
    margin-top: 8px;
}
#tcaimg{
    width: 325px;
    height: 234px;
}


/* ---- MEDIA QUERYS ---- */

/* TABLET */
@media screen and (max-width:992px) {
    header {
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
        height: auto;
    }

    footer>section {
        margin-left: 8%;
        margin-right: 8%;
        gap: 3%;
    }

    nav {
        width: 100%;
        display: flex;
        margin-top: 1%;
        margin-bottom: 2%;
    }

    nav>button {
        width: 17%;
        margin-right: 1%;
    }

    nav>button>a {
        font-size: 14px;
    }

    #logo {
        width: 100px;
        height: 100px;
    }


}


/* MOBILE */
@media screen and (max-width:575px) {

    /* ---- HEADER ---- */
    h1 {
        margin-top: 5%;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
    }

    nav>button {
        width: 30%;
    }

    /* ---- FOOTER ---- */
    footer>section {
        margin-left: 5%;
        margin-right: 5%;
        gap: 5%;
    }

    footer>section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        flex-wrap: wrap;
    }

    footer p {
        text-align: start;
    }

    #copy {
        text-align: center;
    }

    .footIzquierda p,
    h3 {
        text-align: left;
        font-size: 15px;
    }

    .footDerecha p {
        text-align: right;
    }

    .enlacefooter {
        font-size: 13px;
    }


    #footDerechaH3 {
        text-align: right;
    }


}